p::before{
    content: "";
    display: inline-block;
    background-color: green;
    width: 20px;
    height: 20px;
    border: transparent;
    border-radius: 50px;
}

p::after{
    content: "New Mesage";
    display: inline-block;
    color: white;
    background-color: gray;
    border: transparent;
    border-radius: 20px;
}